@charset 'UTF-8';

@media (max-width:768px)  and (hover: none) and (pointer: coarse){
    main{
        margin-top: 21%;
    }
    
    
    
    header{
        height: 10%;
        z-index: 100;
    }

    #header_nav{
        display: none;
    }
    .menuMobile{
        display: block;
        margin-right: 25px;
        font-size: 185%;
        color: #1D3557;
    }
        .menuMobile.mbOff{
            display: none;
        }
    .closeMenu{
        display: none;
        margin-right: 25px;
        font-size: 185%;
        color: #1D3557;
    }
        .closeMenu.cmOn{
            display: block;
        }
    .header_nav_mobile{
        display: flex;
        background-color: #1D3557;
        position: fixed;
        width: 100%;
        height: 100px;
        top: -228.5%;
        transition: all ease 0.5s;
        z-index: 8;
    }
    .header_nav_mobile.hdnmOn{
        top: 8.5%;
        transition: all ease 0.5s;
    }
        #hd_nav_mobile{
            width: 100%;
            height: 100%;
            display: flex;
        }
        
            #hd_nav_ul_mobile{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
            }
                .list_nav_m{
                    list-style: none;
                    width: 100%;
                    height:33.33%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: white 0.6px solid;
                }
                    .list_nav_m a{
                        text-decoration: none;
                        color: white;
                        width: 100%;
                        text-align: center;
                    }


    #introSection{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }
        #textIntro{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            #h1_gn{
                line-height: 95%;
                font-size: 160%;
                margin-top: 1px;
            }
            #p1_gn{
                display: none;
            }
            #p1_gn_mobile{
                display: flex;
                font-size: 110%;
                font-weight: 340;
            }
            .p_gn{
                font-size: 100%;
            }
            #p_gn_desktop{
                display: none;
            }
            #p_gn_mobile{
                display: block;
               
            }
            #equipe-disponivel{
                order: 1;
                font-size: 70%;
                justify-self: center;
                text-align: center;
            }
            #p-intro-media{
                display: none;
            }
             #ctr_intro{
                width: 100%;
                align-self: center;
                margin-top: 10%;
            }

            #ctr_intro:hover{
                width: 100%;
                transition: all ease 0.5s;
            }

        #figure_intro{
            display: flex;
            justify-content: center;
            width: 100%;
        }
            #img-justica{
                content: url(../img/Group\ 26.png);
                
            }

     .solucao{
        width: 90%;
        margin: 5% auto;
        
    }
        .icon_solucao{
            top: 29%;
            height: 50px;
            width: 50px;
        }
        #icon_solucao_trabalhista{
            top: 29%;
        }
        #icon_solucao_financeiras{
            top: 29%;
        }
        #icon_solucao_saude{
            top: 29%;
        }
        .h3_solucao_text{
            font-size: 80%;
        }
        #h3_financ{
            font-size: 89%;
        }
        #h3_s_t_inss{
            font-size: 89%;
        }

    #solucoes_info{
        margin-top: 20px;
        font-size: 100%;
        padding: 0 10px 0 10px;
    }

    #text_solucoes{
        width: 100%;
    }
    #solucoes_h1{
        max-width: 100%;
    }
    #solucoes_h1 h1{
        font-size: 60%;
    }
    #h1-sol-desktop{
        display: none;
    }
    #h1-sol-mobile{
        display: block;
    }
    .cta_solucoes{
        font-size: 80%;
    }

    /*parte da apresentação da advocacia*/

        #advocacia_apresentacao{
        height: 60vh;
        width: 100%;
        }

    #tittle_apresentacao{
        justify-content: center;
        width: 100%;
        height: 15%;
        text-align: left;
    }
          #tittle_apresentacao h2{
                font-size: 0.9rem;
                font-weight: 350;
                color: white;
                margin-left: 6%;
            }
            #tittle_apresentacao h1{
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: 5%;
                color: white;
                margin-left: 6%;
            }
         #apresentacao_txts{
            width: 100%;
            /*margin-right: 5%;*/
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 8%;
        }
                .txt_textos{
                    color: white;
                    width: 73%;
                    height: 100%;
                    margin-left: 3%;
                }
                .txt_textos h3{
                    font-size: 73%;
                    margin-bottom: 3px;

                }
                .txt_textos p{
                    font-size: 65%;
                    font-weight: 400;
                }
                .txt_icon{
                    display: flex;
                    width: 20%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    margin-left: 5%;
                }
                    .txt_icon img{
                        height: 30%;
                    }
                    #maos_img{
                        height: 30%;
                    }




                    
                #img1{
                    background-image: linear-gradient(to top, #1d355700 65%, #1D3557 90% ), url(../img/familiasorrinmd.jpg) ;
                    width: 100%;
                }
                #img2{
                    background-image: url(../img/martelo-juiz.jpg) ;
                    width: 100%;
                }
                #img3{
                    background-image:  url(../img/vista-anguo.jpg) ;
                    width: 100%;
                }
                #img4{
                    background-image: linear-gradient(to top, #1d355700 60%, #1D3557 90% ), url(../img/consuta-ref.jpg);
                    display: none;
                }

                #img5{ 
                    background-image: url(../img/familia-divertida.jpg);
                    display: none;
                }

                #img6{ background-image: linear-gradient(to bottom, #1d355700 60%, #1D3557 90% ), url(../img/advogados.jpg);
                width: 100%;
                
            }
        

    #apresentacao_imgs{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }    
        #imgs_apr{
            width: 80%;
            min-height: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            column-gap: 1%;
            row-gap: 7%;
            
        }
            .img_apr{
                min-width: 35%;
                min-height: 16%;
                height: auto;
                border-radius: 10px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-left: 5%;
            }


    #txts_sobreNos{
        margin-top: 5%;
    }
    #h1_sobreNos{
        width: 100%;
        height: 90%;
        text-align: center;
        margin-top: 2%;
    }
        #h1_sobreNos h2,h1{
            margin-top: 0.2%;
            font-size: 1.9rem;
            color: #1D3557;
        }
        #h1_sobreNos h2{
            font-weight: 400;
        }

    #sobre_nos{
    min-height: 100vh;
    height: 120vh;        
    }
    #imgs_section{
        flex-direction: column;
        gap: 8%;
        margin-top: 0;
        min-height: 77%;
        height: auto;
    }
    .advs_cards{
        height: 35%;
        max-height: 40%;
    }
        .info_footer_advgs{
            height: 28%;
        }
    
                    .txts_footer_advs p{
                        font-size: 65%;
                        margin-left: 12%;
                    }
                    .txts_footer_advs h4{
                        font-size: 105%;
                        margin-left: 12%;
                    }
                .icon_footer_advs{
                    width: 10%;
                    margin-right: 3%;
                }
        #advogado_foto-1{
            background-position: 0% 25%;
            background-size: 100%;
        }
        #advogado_foto-2{
            background-position: 0% 25%;
            background-size: 100%;
        }

    
    #duvidas_frequentes{/*.*/
        background-color: white;
        width: 75%;
        min-height: 37vh;
        height: auto;
        position: absolute;
        top: -3%;
        left: 50%;
        transform: translate(-50%, -10%);
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        border-radius: 20px;
        z-index: 10;
    }
        #duvidas_frequentes h3{
            display: none;
        }
    .duvida{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1.2% 1% 1.2% 1%;
        gap: 5px;
        width: 99%;
    }
        
            .pergunta {
                width: 100%;
                font-size: 12px;
                padding: 10px ;
               
            }
            .pergunta-seta{
                font-weight: 1000;
            }
            .resposta-painel{
                font-size: 70%;

            }
               
        #contato_area{
            height: 160vh;
            min-height: 160vh;
        }
        #espaco-vital{
            width: 100%;
            height: 16%;
            min-height: 16%;
        }
        #blog-section{
        height: 35%;
        min-height: 35%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }  
             #txts-blog{
                gap: 10px;
                height: 25%;
                min-height: 25%;
                width: 100%;
             }
            #txts-blog h1{
                color: white;
                font-size: 100%;
            }
            #mini-txt{
                border: solid 1px white;
                width: 62%;
                border-radius: 15px;
                color: white;
                font-size: 70%;
            }
            #icons-blog{
            display: flex;
            flex-direction: column-reverse;
            height: 70%;    
            min-height: 47%;
            margin-top: 0;
            }
            #img-blog{
                width:50% ;
                height: 50%;
                background-image: url(../img/Justice_BLOG.png);
                background-position: center;
                background-size: 60%;
                background-repeat: no-repeat;
            }
            #txt-img-blog{
                width: 85%;
                height: 60%;
            }
                #txt-img-blog p{
                    text-align: center;
                    color: white;
                    font-size: 80%;
                }
                #blog-ctr{
                    height: 25%;
                }


           #contact-section-final{
            width: 100%;   
            height: 40%;
            min-height: 40%;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0;
        }
       #contact-section-texts{
            color: white;
            width: 90%;
            height:18%;
            min-height: 18%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            gap: 7%;
            margin-top: 0;
        }
        #contact-section-texts p{
            display: none;
        }
            #h2-contact-section-1{
                margin: 3% 0% 0 5%;
                font-size: 120%;
                font-weight: 420;
                width: 60%;
                align-self: center;
            }
            #h2-contact-section-2{
                margin: -2% 0 0 1%;
                font-size: 140%;
                font-weight: 700;
            }
            #redes-sociais{
                display: none;
            }
                #redes-sociais p{
                    font-weight: 400;
                }
                #links-social{
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 1.4% 0 0 5%;
                    gap: 6%;
                }
                    #facebook-link:hover{
                        content: url(../img/Facebook.svg);
                    }
                    #instagram-link:hover{
                        content: url(../img/Instagram.png);
                    }
                    #linkedin-link:hover{
                        content: url(../img/LinkedIN.svg);
                    }
    #contact-section-form{
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }
        #layout-form{
            background-color: white;
            width: 73%;
            height: 70%;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 0px 0px;
        }
            .input-container{
                width: 80%;
                height: 50%;
                display: flex;
                flex-direction: row;
                position: relative;
            }
                #inpt-ctn-msg{
                    height: 15%;
                }
                .icon-form{
                    position: absolute;
                    top:20%;
                    left: 2.6%;
                    color: rgb(82, 81, 81);
                    font-size: 75%;
                }
                #iconTxtArea{
                    top: 8%;
                }
                .input-form{
                    width: 100%;
                    height: 100%;
                    padding-left: 19%;
                    color: rgb(58, 58, 58);
                    border-radius: 10px;
                    border: none;
                    background-color: #D9D9D9;
                }
            #enviar-caso-btn{
                width: 80%;
                height: 10%;
                border: none;
                background-color: #D6A53D;
                color: white;
                border-radius: 10px;
                cursor: pointer;
            }
        #redes-sociais-mobile{
            display: flex;
            flex-direction: column;
            margin: 10% 0 0 0;
            width: 100%;
            text-align: center;
            color: white;
        }
            #links-social-mobile{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 4%;
                margin-top: 10px;
            }

    footer{
    flex-direction: column;
    height: 45vh;
}
    #footer-area{
        display: flex;
        flex-direction: row;
        height: 80%;
        width: 100%;
    }
    #footer-nav{
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 40%;
        margin-left: 0;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5%;
        color: white;
    }
        #footer-nav h4{
            font-size: 120%;
            color: #D6A53D;
            margin-top: 7%;
            margin-left: 8%;
        }
        #ul-footer{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 6px;
            font-weight: 500;
            margin-left: 8%;
        }
            #ul-footer li{
                cursor: pointer;
                font-size: 60%;
            }
            #ul-footer li:hover{
                color: grey;
            }
    #footer-contato{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 60%;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 6.7%;
    }
        #footer-contato h4{
            font-size: 120%;
            color: #D6A53D;
            margin-top: 5%;
            margin-left: 8%;
        }
            #footer-contato a{
                text-decoration: none;
                color: white;
                font-weight: 600;
                font-size: 60%;
                margin-left: 8%;
            }
    #footer-icon{
        display: none;
    }
    #footer-icon-mobile{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        
    }
        #footer-icon-mobile img{
            width: 220px;
        }

    #footer-direitos{
        height: 20%;
        width: 100%;
        font-size: 80%;
    }
}
